/*	Author: Jennifer McDaniels
	File: Stylesheet-2.css
	Date:  April 28, 2024
*/

<style>

/* CSS Reset */
body, header, nav, footer, h1, div, img, ul, figure, figcaption, fieldset, input, select, textarea, audio, video {
	margin:0;
	padding: 0;
	border: 0;
}


/* Style rules for mobile viewport                          */

@media screen and (min-width: 320px) and (max-width: 480px), print {
	
/* show mobile class, hide tablet-desktop and menu-links id */
/*.mobile, .mobile-nav { */
.mobile  {
	display: block;
}

/* menu links won't display when page is opened */
.tablet-desktop, #menu-links {
	display: none;
}

/*  hamburger menu   */
.mobile-nav a {
	color: #fff;
	font-family: "Francois One", sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}
 
/* hamburger menu.. continued */
.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	left: 0;
	/* right: 0; */
	top: 0;
}


/* Style rules for skip navigation links */
.skip {
	position: absolute;
	left: -999px;
}

/* style rule to skip to main content */
.skip:focus {
	color: #000;
	background-color: #fff;
	text-decoration: none;
	padding: 0.5%;
	top: auto;
	left: auto;
	right: 1px;
	z-index: 1;
}


/* Image and video positioning /responsiveness */
.img, video {
	max-width: 100%;
	display: block;
}

/* video style */
.video {
	margin: 0 auto 4%;
}


/* Style rule for the container */
#container {
	width: 95%;
	margin: 0 auto;
}

/* style rules for logo  ORIG */
#logo {
	margin-left: 5em;
	width: 1%;
	text-decoration: none;
	padding-bottom: 1%;
	clear: left;
}


/* position logo, will be center for mobile, L for others */
header img {
	margin: 0 auto;
}


/* for Safari browser. Position is for all other browsers hEIGHT: 190PX  before failure */
header {
	position: -webkit-sticky;
	position: sticky; 
	top: 0;
 	height: 115px; 
	background-color: rosybrown; 
	opacity: 0.3;
}

/* position logo, will be center for mobile, L for others */
header img {
	margin: 0 0;
	max-width: 100%;
} 

/* Style for rounded image corners */
.round {
	border-radius: 8px;
}


/* Style rules for main */
main {
	font-family: 'Roboto', 'Verdana', 'Arial', sans-serif;
	font-size: 1em;
}

/* style for main's unorder list */	
main ul {
	margin: 0 0 2% 2%;
}

/* style for main paragraph element */
main p {
	text-decoration: none;
	font-size: .95em;
	text-align: justify; 
}
	
/* style rule for the header of each page */
h1 {
	font-family: "Bradley Hand ITC", "Harrington", "Candara";
	background-color: #bc8f8f;
	font-size: 27px;
	opacity: 0.3;
	padding: 4px;
	text-align: center;
	color: #ffffff;
}	
	

/* header for page's title */
h2 {
	padding-bottom: 1%;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

/* heading for the Investment title & text-shadow */
h3 {
	text-shadow: 2.2px 2.2px #e6e6e6;
	text-align: center;
}


/* headshot image for main page */
#headshot .img {
	/* took out for headshot to be left align on file */ 
	/* float: inherit; */
	border: 1em;
	padding: 1em 2em 0;
	width: auto;
}

/* introduction paragraph for index page */
#aboutus {
	width: auto;
	font-size: 16px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	padding: 0 1.2% 0;
}


/* image for index page. */
#cameraimage {
	width: auto;
	float: left;
}

/* paragraph text for AboutUs intro */
.para {
	margin: 1% 1%;
	/* width: 45%; */
	width: auto;
	float: left;
	bottom: 2%;
}


/* figure caption style */
.frame {
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

/* overlay picture text style rule. Family and index page */
.pictext {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	display: table-row;
} 

/* style rule for box sizing applies to all elements, fig captions */
*{
	box-sizing: border-box;
}


/* style rule for the senior images */
.senior {
	/* margin: 1% 2%; */
	width: auto;
	float: left;
	padding: 5%;
}


/* style rule for hours on Contact Us */
.hours {
	margin-left: 5%;
	font-size: .75em;
	text-align: left;
}

/* Style rules for Contact page      */
helloimage {
	/* 	clear: both; */
	padding-bottom: 3em;
}

/* style rules for Contact Us page except the form. */
BusinessContactInfo {
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
	font-size: 1.25em; 
}

/* style rule for the phone number, email and map */
contactdetails {
	font-size: .75em;
	text-decoration: none;
}

/* style rule for the email, tel-link anchor element attributes */
contactdetails a {
	padding: 2%;
	text-decoration: none;
}

.email {
	text-align: center;
}


/* style rule for the tel-link, Contact Us page */
.tel-link {
	background-color: #A0A0A0;
	padding: 2%;
	margin: 0 auto;
	width: 55%;
	text-align: center;
	border-radius: 12px;
}

/* style rule for hte tel-link anchor attribute */
.tel-link a {
	margin: 4%;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	display: block;
}

/* style rule for the map on Contact Us page */
.map {
	border: 3px solid;
	padding: 1%;
	width: 65%;
}

/* Form input style rules, Contact Us page*/
#form {
	margin-top: 1%;
	background-color: #f2f2f2;
	padding: 1%;
	width: 100%;
}


/* form header */
#form h3 {
	font-size: .55em;
	text-align: center;
}
 
/* style rules for the input form */
fieldset, input, select, textarea {
   margin-bottom: 3%;
   width: 100%;
}
   
/* style rule for the Referral heading */   
fieldset legend {
  font-weight: bold;
  font-size: 1em;
}
 

/* style rule for the Referral's 'How did you find us?' */
label {
  display: block;
  padding-top: 1%
  }
 
 /* style rule for the submit button, center on form. display was block */
form #submit {
  margin: 0 auto;
  border: none;
  display: flex;
  padding: 1%;
  background-color: #b3b3b3;
  font-size:.75em;
  border-radius: 7px; 
}


.button-container {
	justify-content: center;
	display: flex;
	margin-left: 20px;
}


/* style rule for promo code. Put in tablet? */
.offer:hover {
	transform: scale(1.25);
	cursor: pointer;
}


/* Style rules for footer  */      
footer {
	clear: left;
	font-size: 14px;
	text-align: center;
	padding: 0 1em;
}

/* style rule for footer paragraph element */
footer p {
	display: block;
	text-decoration: none;
} 

/* style rule for copyright line in footer */
footer .copyright {
	padding: 2% 4%;
	float: left;
	width: 50%;
	display: block;
	text-decoration: none;
}

/* removes underline from email */
footer p a {
	text-decoration: none;
}

/* style rules for social media logo icons */
.social {
	float: left;
	width: auto; 
	padding: 2%;
}

/* style rule for the social media images */
.social img {
	display: inline-block;
	padding: 2%;
}

}


/* Media Query for Tablet Viewport  650?     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   */

@media screen and (min-width: 481px), print {

/* hide mobile viewport */
.mobile, .mobile-nav {
	display: none;
}

/* display tablet-desktop viewport */
.tablet-desktop { 
 /* .tablet-desktop, #menu-links { */
	display: block;
}

/* Tablet Viewport: Animation */
/* font size will grow */

/* @-webkit-keyframes text-animation {
0% { font-size: 1em; }
50% { font-size: 2em; }
100% { font-size: 1.35em; }


@keyframes text-animation { 
0% { font-size: 1em; }
50% { font-size: 2em; }
100% { font-size: 1.35em; }
} */


/* Style rule for grid elements*/
.grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 15px;
	grid-row-gap: 20px;
}

/*style rule to span across columns */
.grid-item {
	grid-column: 1 / span 2;
	text-align: center;
}
/* style rule for the webkit, sticky position */
/* h1 {
	-webkit-animation-name: text-animation;
	animation-name: text-animation;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
} */

/* position logo, will be center for mobile, L for others */
header img {
	margin: 0 auto;
}

/* style rules for logo  ORIG */
#logo {
	float: left; 
	/* position: relative; */
	margin-left: 3em;
	text-decoration: none;
	padding-bottom: 1%;
	width: .5%;
}

/* style rules for business title /header. set clear to both to have logo on top bc8f8f*/
h1 {
	font-family: "Bradley Hand ITC", "Harrington", "Candara";
	background-color: #bc8f8f;
	font-size: 27px;
	opacity: 0.3;
	padding: 4px;
	text-align: center;
	color: #ffffff;
}

/* header for page's title */
h2 {
	font-size: 1.15em;
}

/* heading for the Investment title & text-shadow */
h3 {
	text-shadow: 2px 2px #e6e6e6;
	text-align: center;
}


/* image to float left */
#headshot {
	border: 1em;
	padding: 1em 2em 0;
}

/* introduction paragraph for index page */
#aboutus {
	width: auto; 
	text-align: left;
	border-style: solid;
	border-width: 1px;
	padding: 0 1.2% 0;
}


/* Paragraphs for About Us. w was 45% */
.para {
	margin: 1% 1%;
	width: auto;
	float: left;
	bottom: 2%;
}
	
/* style rule for navigation links - tablet */
nav {
	padding: 1%;
	margin-bottom: 1%;
	margin: 4em 1em 0 0;
}

/* style rule for nav unordered list */
nav ul {
	list-style-type: none; 	
	text-align: right;
	font-size: 1em;
}

/* style rule for nav list element */
nav li {
	background-color: #bc8f8f; 
	display: inline-block;
	border-top: none;
	border-right: 1px solid #fff;
	color: #000000;
	font-size: 1.10em;
    font-family:  Verdana, Arial, sans-serif;
	opacity: 0.3; 
}

/* style fule for nav list anchor element - tablet */
nav li a {
	padding: 0.1em 0.75em;
	text-decoration: none;
	display: block;
	text-decoration: none;
	color: #000000;
}

/* Style rules for main - tablet */
main {
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	clear: both;
    }

/* style rule for main unordered list  */
main ul {
	margin: 0 0 4% 10%;
}

/* style rule for main paragraph text */
main p {
	text-decoration: none;
	font-size: 1em;
	text-align: justify;
}


/* Image and video positioning /responsiveness - tablet */
.img, video {
	clear: left;
	max-width: 80%;
	display: block;
	/*  margin: 4%; */
}

/* video style */
.video {
	margin: 0 auto 4%;
}

/* style rules for Contact Us page except the form. */
#BusinessContactInfo {
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
	font-size: 1.25em; 
}

/* style rule for the phone number, email and map */
#contactdetails {
	font-size: .75em;
	text-decoration: none;
}

/* style rule for the email, tel-link anchor element attributes */
#contactdetails a {
	padding: 2%;
	text-decoration: none;
}

/* style rule for the contact details email and visit us para elements */
.email p {
	margin-left: 8%;
	text-align: center;
}


/* style rule for hours on Contact page */
.hours {
	margin-left: 10%; 
	font-size: 1.15em;
	text-align: left;
} 

/* style rule for Contact Page, mobile view only */
.tel-num {
	font-size: 1.25em;
}

/* style rule for the map, contact us page */
.map {
	border: 3px solid;	
	width: 600px;
	height: 450px;
	padding: 0 0 .5%;
}


/* Form Input styles, Contact Us page */
#form {
	width: 90%;
	margin: 0 auto;
}

/* style rule for the form header, contact us page */
#form h3 {
	font-size: 1.25em;
	text-align: center;
}
 
/* style for size of input form */
fieldset, input, select, textarea {
   margin-bottom: 2%;
   width: 100%;
}

/* style rule for the form title */   
fieldset legend {
	font-weight: bold;
	font-size: 1em;
}
 
/* style rule for the form's field name */ 
label {
	display: block;
	padding-top: 1%
  }
 
 /* style rule for form's submit button, contact us page */
form #submit #reset {
	margin: 0 auto;
	border: none;
	display: flex;
	padding: 3%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 7px; 
}
  
/* Tablet style rules for the form,  Referral Source */
.referral {
   margin-bottom: 2%;
   width: 100%;
   padding-right: 2%;
}

/* style rule for the button container */
.button-container {
	justify-content: center;
	display: flex;
	margin-left: 20px;
} 


/* figure caption style  480px*/
figure {
	position: relative;
	max-width: 350px;
	margin: 2% auto;
}

/* style rule for text overlay over figure */
figcaption {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

/* style rule for box sizing for all elements */
*{
	box-sizing: border-box;
}


/* figure caption style */
.frame {
	position: relative;
	max-width: 400px;
	margin: 2% auto;
}

/* overlay picture text style rule. Family and index page */
.pictext {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	display: table-row;
} 

/* style for pricing section*/
.pricing {
	font-size: 1.15em;
	text-align: left;
	display: block;
}

/* style rule for footer */
footer {
	clear: left; 
	font-size: 14px;
	text-align: center;
	padding: 0 1em;
}

/* style rule for footer para and anchor attribute. Removes underline from email */
footer p a {
	text-decoration: none;
}

/* social media styles */
footer .copyright {
	padding: 2% 4%;
	float: left;
	width: 50%;
	display: block;
	text-decoration: none;
}

/* style rule for social media logos */
.social {
	float: left;
	width: auto;
	padding: 1%;
}

/* style rule for social media icons 2% ?*/
.social img {
	display: inline-block;
	padding: 5%;
}


/* Style rule for dynamic pseudo classes */
/* red */
:link {
	color: #ff1a1a;
}

/* style rule: dark blue for link that's been visited */
:visited {
	color: #0033cc;
}

/* style rule: grass green color for link hovering */
:hover {  
	color: #1f7a1f; 
} 

}	

	

	
/* Media Query for Desktop Viewport min = 1024?     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
@media screen and (min-width: 769px), print {

/* style rule for mobile classes to NOT display */
.mobile, .mobile-nav {
	display: none;
}

/* style rule to display tablet-deskstop classes */
.tablet-desktop {
	display: block;
}

/*
/*  menu links won't display when page is opened 
.tablet-desktop, #menu-links {
	display: none;
}
*/

/* style rule for grid on Contact Us, Family pages */
.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-column-gap: 25px;
		grid-row-gap: 15px;
}

/* Style fule for military discount on family page */
aside {
	text-align: left;
	font-size: 1em;
	background-color: rgba(204, 204, 204, 0.3);
	grid-column: 1 / span 3;
	box-shadow: 0px 0px  #ccc;
	padding: 10px;
	border-radius: 0 15px;
}

/*style rule to span across 3 columns */
.grid-item {
	grid-column: 1 / span 3;
	text-align: left;
}

/* style rules for logo */
.logo {
	width: 20%;
	height: 20%;
	float: left;
	padding-bottom: 0;
}


/* style rules for business title /header. set clear to both to have logo on top bc8f8f*/
h1 {
	width: 100%;
	height: 150px;
	font-family: "Bradley Hand ITC", "Harrington", "Candara";
	background-color: #bc8f8f;
	font-size: 75px;
	opacity: 0.3;
	padding: 2px;
	text-align: center;
	color: #ffffff;
} 

/* heading for the Investment title & text-shadow */
h4 {
	text-shadow: 2.2px 2.2px #e6e6e6;
	text-align: center;
}

/* style rule for heading 4 paragraph element */
h4 p {
	text-align: center;
}

/* style rules for navigation */
nav {
	padding: .1%;
}

/* style rule for nav unordered list */
nav ul {
	list-style-type: none;
    margin: 0 2%;
    text-align: right;
}
	
/* style rule for nav list element */
nav li {
    font-size: 1.15em;
    font-family:  Verdana, Arial, sans-serif;
	font-weight: bold;
	opacity: 0.3; 
}

/* style fule for nav list hover */
nav li a:hover {
    display: block;
	padding: 0.5em;
	color: #000000; 
	transform: scale(1.3);
} 


/* Dynamic Pseudo classes */
/* red */
:link {
	color: #ff1a1a;
}

/* dark blue */
:visited {
	color: #0033cc;
}

/* color is grass green */
:hover {  
	color: #1f7a1f; 
} 

/* Style rules for main */
main {
	/* padding: 1%;  keep clear both */
	font-family: Verdana, Arial, sans-serif;
	clear: both;
}

/* style for main paragraph element */
main p {
	font-size: 1.15em;
	text-decoration: none;
	text-align: justify;
}

/* style for main unordered list */
main ul {
	margin: 0 0 2% 2%;
}


/* style rule for promo code. Put in tablet? */
.offer:hover {
	transform: scale(1.15);
	cursor: pointer;
}

/* style rule for hovering over an image */
.frame:hover {
	position: relative;
	max-width: 410px;
	margin: 2% auto;
	transform: translateY(10px);
}


/* Input form and Referrals box styles */
form {
	width: 80%; 
	margin-left: 30%;
}

/* style rule for the Referral interactive box */
.referral {
	width: 55%;
	margin-left: 22%;
   padding: 1%;
}


/* style rule for the form on Contact Us page */
.form-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px; 
} 

/* style rule for the form buttons, contact page */
.button-container  {
	justify-content: center;
	display: block;
	margin-left: 47%;
 	padding-bottom: 1%;
} 

/* style rule for reset /submit button to span */
.btn {
	grid-column: 1/span 1;
}

 /* style rule for Family, senior, Weddings page for pricing */
.pricing {
/*	margin-left: 25%; */
	font-size: 1.15em;
	text-align: center;
	display: block;
} 


/* pricing table, displays on desktop viewport only */
table {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	width: 60%;
}

/* style rule for table's titles */
caption {
	font-size: 1.15em;
	font-weight: bold;
	padding: 2%;
}

/* adds lines around cells, applies to both th & td */
th, td {
	border: 1px solid #000;
	padding: 2%;
}

/* this style only applies to table header to have black bkgrnd, white text */
th {
	background-color: #000;
	color: #fff;
	font-size: 1em;
}

/* alternating color to odd rows */
tr:nth-child(odd) {
	background-color: #ccc;
}

/* header for page's title */
h2 {
	/* clear: both;  */
	padding: 2%;
	font-size: 2em;
	text-align: center;
}


/* style rules for blossom imag. */
/*  Padding 3% overlaps box! use? */
#blossomimage {
    width: 30%;
    float: left;
	padding-left: 2%;
}

/* style rule for headshot */
#headshot {
	float: inherit;
	border: 1em;
	padding: 1em 2em 0;
}

/* introduction paragraph for index page */
#aboutus {
	/* no margin-top or left, keep padding */
	width: 30%; 
	font-size: 16px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
    float: left; 
	padding: 0 1% 0;
}

/* for index page */
.para {
	margin: 1% 3%;
	width: 4%;
	float: left;
}
	
/* style rule for image on index page */
#cameraimage {
	 padding: 0 1% 1%;
	 margin: 1% 1%;
}

/* style rule for sections on Family, Seniors, weddings pages */
section {
	margin-top: 0.2em;
	padding-right: 2.5%;
	padding-bottom: 1%;
} 

/* style rule for the section paragraph element */
section p {
	margin: 1%;
}

/* style rule for images on Family page */
#fambike {
	width: 30%;
	padding: 2% 2%;
	float: left;
}

/* style rule for images on family page */
.famimg {
	padding: 1% 5%;
	margin: 1%;
	float: left;
}

/* style rule for the hours of operation on Contact Us page */
.hours {
	margin-left: 35%; 
	font-size: 1.15em;
	text-align: left;
}

/* style rules for Contact Us page except the form. */
#BusinessContactInfo {
	text-align: center;
	padding-top: 2%;
}

/* style rule for the map on Contact Us page */
.map {
	border: 3px solid;
	width: 600px;
	height: 450px;
	padding: 2%;
}

/* Style rule to position engagement images */
#engring {
	width: 30%;
	float: left;
}

/* style rule for the engagement images */
.paraeng {
	margin: 2.75%;
	float: left;
	padding: 1.5%;
}

/* style rule for the wedding images position */
#wedtunnel {
	clear: both;
	width: 25%;
	float: left;
	padding: 1%;
}

/* style rule for the wedding images */
.parawed {
	/* margin: 1% 2%; */
	/*width: 4%; */
	float: left;
	padding: 1%;
}

}

/* style rule for the senior images, w=20% */
.senior {
	/* margin: 1% 2%; */
	width: auto;
	float: left;
	padding: 1%;
}



/* Style rule to print the wepages */
@media print {
	body {
		width: 100%;
		background-color: #fff;
		color: #000;	
}
}



/* Media Query for LARGE Desktop Viewport      xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media screen and (min-width: 1921px), print {

/* Style rule for the container */
#container {
	width: 1920px;
	margin: 0 auto;
}

}

</style>
